<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
     <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>


<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">

        <h1>Register</h1><br>
        <form method="post">
                {%csrf_token%}
                {{form.as_p}}
             <input type="submit" class="btn btn-success" value="Register">
            </form>
            <div class="float-right">
                  <a href="{%url 'loginpage' %}" class="btn btn-info">Log In</a>
            </div><br>


        </div>
        <div class="col"></div>
    </div>
</div>
</body>
</html>